<nav class="navbar">
    <ul class="navbar-list">
      <li class="left"><a href="#home" class="navbar-link"><span class="material-icons">code</span> Seba.Dev</a></li>
      <li class="center">
        <a href="skills" class="navbar-link"><span class="material-icons">laptop</span> Skills</a>
        <a href="#services" class="navbar-link"><span class="material-icons">apps</span> Projects</a>
        <a href="#portfolio" class="navbar-link"><span class="material-icons">description</span> Experiences</a>
        <a href="#contact" class="navbar-link"><span class="material-icons">book</span> Education</a>
        <a href="#blog" class="navbar-link"><span class="material-icons">article</span> Resume</a>
      </li>
    </ul>
  </nav>