<nav class="navbar">
  <ul class="navbar-list">
    <li class="left">
      <button (click)="goTo('/')" class="navbar-link">
        <span class="material-icons">code</span> Seba.Dev
      </button>
    </li>
    <li class="center">
      <button (click)="goTo('/skills')" class="navbar-link">
        <span class="material-icons">laptop</span> Skills
      </button>
      <button (click)="goTo('/projects')" class="navbar-link">
        <span class="material-icons">apps</span> Projects
      </button>
      <button (click)="goTo('/experiences')" class="navbar-link">
        <span class="material-icons">description</span> Experiences
      </button>
      <button (click)="goTo('/education')" class="navbar-link">
        <span class="material-icons">book</span> Education
      </button>
      <button (click)="goTo('/contact')" class="navbar-link">
        <span class="material-icons">article</span> Contact
      </button>
    </li>
  </ul>
</nav>