<app-navbar></app-navbar>

<div class="full-screen">
  <div class="experiences-container">
    <h1 class="experiences-title">Experiences</h1>

    <!-- Contenedor de experiencias -->
    <div class="experiences">
      <!-- Usamos *ngFor para iterar sobre el array de experiencias -->
      <div *ngFor="let experience of experiences; let i = index" 
           [ngClass]="{'left': i % 2 === 0, 'right': i % 2 !== 0}" 
           class="experience-card">
        <h2>{{ experience.title }}</h2>
        <p class="experience-date">{{ experience.date }}</p>
        <p class="experience-place">{{ experience.place }}</p>
        <p class="experience-description">{{ experience.description }}</p>
      </div>
    </div>
  </div>
</div>