<app-navbar></app-navbar>

<div class="full-screen">
  
  <div class="content-container">
    <!-- Título centrado -->
    <h1 class="projects-title">Projects</h1>

    <div class="cards-container">
      <div class="card" *ngFor="let project of projects">
        <h3>{{ project.title }}</h3>
        <img [src]="project.image" alt="Project Image" />
        <p class="section-title"><strong></strong> {{ project.softwareType }}</p>
        <hr />
        <p><strong></strong> {{ project.duration }}</p>
        <hr />
        <p><strong></strong> {{ project.description }}</p>
        <hr />
        <p><strong></strong> {{ project.context }}</p>

        <!-- Iconos de enlace (GitHub, GitLab, Sitio Web) -->
        <div class="project-links">
          <a *ngIf="project.github" [href]="project.github" target="_blank">
            <i class="fab fa-github icon"></i>
          </a>
          <a *ngIf="project.gitlab" [href]="project.gitlab" target="_blank">
            <i class="fab fa-gitlab icon"></i>
          </a>
          <a *ngIf="project.website" [href]="project.website" target="_blank">
            <i class="fas fa-link icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>