.full-screen {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Permite hacer scroll vertical */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea el contenido al inicio para permitir el scroll */
  text-align: center;
}

.content-container {
  width: 80%;
  margin-top: 3%; /* Agrega espacio en la parte superior */
  display: flex;
  flex-direction: column;
  align-items: left;
}

.projects-title {
  color: white;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10%; /* Espacio debajo del título */
  text-align: center; /* Centrado del título */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  width: 100%;
  padding-bottom: 20px; /* Evita que la última fila quede muy pegada abajo */
}

.card {
  background: black;
  padding: 20px;
  border-radius: 10px;
  border: 0.5px solid white;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
  text-align: left;
  width: 100%;
  min-height: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Agregamos transiciones suaves */
}

.card h3,
.card p {
  color: white; /* Letras blancas */
  margin: 5px 0;
  text-align: left;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.section-title {
  font-weight: bold;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid gray;
  margin: 10px 0;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 100px;
}

.project-links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}

.project-links a:hover {
  transform: scale(1.2);
  color: #ffcc00;
}