<app-navbar></app-navbar>

<!-- Contenedor de la pantalla completa -->
<div class="full-screen">
  <div class="contact-container">
    <!-- Título -->
    <h1 class="contact-title">Contacto</h1>

    <!-- Foto circular -->
    <div class="photo-container">
      <img src="assets/icon.jpg" alt="Mi Foto" class="profile-photo" />
    </div>

    <!-- Íconos de redes sociales (sin estilos de íconos aplicados en CSS) -->
    <div class="social-icons">
      <a href="https://github.com/saliante01" target="_blank" class="icon"><i class="fab fa-github"></i></a>
      <a href="https://gitlab.com/saliante01" target="_blank" class="icon"><i class="fab fa-gitlab"></i></a>
      <a href="https://www.linkedin.com/in/sebastian-aliante-poblete-92964a354/" target="_blank" class="icon"><i class="fab fa-linkedin"></i></a>
      <a href="mailto:seba.dev01@gmail.com" class="icon"><i class="fas fa-envelope"></i></a>
    </div>

    <!-- Descargar CV -->
    <div class="download-cv">
      <a href="assets/Aliante_Poblete_Sebastian_Curriculum.pdf" download class="download-link">Downdload CV</a>
    </div>
  </div>
</div>