<app-navbar></app-navbar>
<div class="full-screen">
  <div class="content">
    <h1>SKILLS</h1>
  </div>

  <div class="skills-container">
    <!-- Primera fila con título y línea -->
    <div class="section-header">
      <span class="section-title">Programming Languages</span>
    </div>
    <div class="row">
      <div class="skill-box-container">
        <div class="skill-box first-image">
          <div class="image-overlay"></div>
          <img [src]="'assets/' + images[0]" alt="Skill Image" class="skill-image first-img">
          <div class="skill-text">Java</div>
        </div>
      </div>
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div>
          <img [src]="'assets/' + images[1]" alt="Skill Image" class="skill-image">
          <div class="skill-text">Spring</div>
        </div>
      </div>
    </div>

    <!-- Segunda fila con título y línea -->
    <div class="section-header">
      <hr class="separator">
      <div class="section-title">Database</div>
    </div>
    <div class="row">
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div>
          <img [src]="'assets/' + images[2]" alt="Skill Image" class="skill-image">
          <div class="skill-text">MySql</div>
        </div>
      </div>
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div>
          <img [src]="'assets/' + images[3]" alt="Skill Image" class="skill-image">
          <div class="skill-text">Workbench</div>
        </div>
      </div>
    </div>

    <!-- Tercera fila con título y línea -->
    <div class="section-header">
      <hr class="separator">
      <div class="section-title">Game Developer</div>
    </div>
    <div class="row">
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div>
          <img [src]="'assets/' + images[4]" alt="Skill Image" class="skill-image">
          <div class="skill-text">Unity</div>
        </div>
      </div>
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div>
          <img [src]="'assets/' + images[5]" alt="Skill Image" class="skill-image">
          <div class="skill-text">C# with Unity</div>
        </div>
      </div>
    </div>

    <!-- Cuarta fila con título y línea -->
    <div class="section-header">
      <hr class="separator">
      <div class="section-title">Version Control</div>
    </div>
    <div class="row">
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div>
          <img [src]="'assets/' + images[6]" alt="Skill Image" class="skill-image">
          <div class="skill-text">GitLab</div>
        </div>
      </div>
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div>
          <img [src]="'assets/' + images[7]" alt="Skill Image" class="skill-image">
          <div class="skill-text">GitHub</div>
        </div>
      </div>
    </div>
  </div>
</div>
