<app-navbar></app-navbar>
<div class="full-screen">
  <div class="content">
    <h1>SKILLS</h1>
  </div>

  <div class="skills-container">
    <!-- Primera fila con dos rectángulos -->
    <div class="row">
      <div class="skill-box-container">
        <div class="skill-box first-image">
          <div class="image-overlay"></div> <!-- Overlay para el fade oscuro -->
          <img [src]="'assets/' + images[0]" alt="Skill Image" class="skill-image first-img">
        </div>
      </div>
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div> <!-- Overlay para el fade oscuro -->
          <img [src]="'assets/' + images[1]" alt="Skill Image" class="skill-image">
        </div>
      </div>
    </div>

    <!-- Segunda fila con dos rectángulos -->
    <div class="row">
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div> <!-- Overlay para el fade oscuro -->
          <img [src]="'assets/' + images[2]" alt="Skill Image" class="skill-image">
        </div>
      </div>
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div> <!-- Overlay para el fade oscuro -->
          <img [src]="'assets/' + images[3]" alt="Skill Image" class="skill-image">
        </div>
      </div>
    </div>

    <!-- Tercera fila con dos rectángulos -->
    <div class="row">
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div> <!-- Overlay para el fade oscuro -->
          <img [src]="'assets/' + images[4]" alt="Skill Image" class="skill-image">
        </div>
      </div>
      <div class="skill-box-container">
        <div class="skill-box">
          <div class="image-overlay"></div> <!-- Overlay para el fade oscuro -->
          <img [src]="'assets/' + images[5]" alt="Skill Image" class="skill-image">
        </div>
      </div>
    </div>
  </div>
</div>