.full-screen {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
  }
  
  .content {
    color: white;
    padding-left: 25%;
  }
  
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  
  .lorem-text {
    font-size: 1.2rem;
    max-width: 600px;
    margin-top: 0px;
  }
  
  /* Estilos para los íconos */
  .social-icons {
    display: flex;
    gap: 20px; /* Espaciado entre los íconos */
    margin-top: 20px; /* Espacio entre el texto y los íconos */
  }
  
  .icon {
    color: white;
    font-size: 2rem; /* Tamaño de los íconos */
    text-decoration: none; /* Elimina el subrayado en los enlaces */
  }
  
  .icon:hover {
    color: #007bff; /* Color de hover para los íconos */
  }