<app-navbar></app-navbar>

<!-- Contenedor de la pantalla completa -->
<div class="full-screen">
  <div class="content-container">
    <div class="content">
      <h1>Seba.Dev</h1>
      <p class="lorem-text">I am Sebastián Aliante, a student of Civil Computer Engineering at the University of La Frontera in Temuco, Chile. Software development is an area that deeply excites me and has driven me to explore various tools and approaches. I currently work on the development of web applications and also on creating simulators and 3D games. I have a strong interest in the application of software engineering in education, as I believe technology plays a key role in transforming how people learn and connect with knowledge.</p>
    
      <!-- Contenedor para los íconos de redes sociales -->
      <div class="social-icons">
        <a href="https://github.com/saliante01" target="_blank" class="icon"><i class="fab fa-github"></i></a>
        <a href="https://gitlab.com/saliante01" target="_blank" class="icon"><i class="fab fa-gitlab"></i></a>
        <a href="https://www.linkedin.com/in/tuusuario" target="_blank" class="icon"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>

    <div class="image-container">
      <!-- Imagen carrusel -->
      <div class="carousel">
        <img [src]="images[currentIndex]" alt="Carrusel Imagen" class="slider-image">
        
        <!-- Botones de navegación -->
        <button class="prev" (click)="prevImage()">&#10094;</button>
        <button class="next" (click)="nextImage()">&#10095;</button>
      </div>
    </div>
  </div>
</div>